<div ng-if="cb.localUser.userId !== cb.message.userId">
    <img class="profile-avatar left"
        ng-src="{{cb.message.avatar}}"
        ng-if="cb.options.showUserAvatar"/>
    <div class="chat-bubble-container left"
        ng-class="{'reset-margin-left': !cb.options.showUserAvatar}">
        <div class="message-detail" ng-if="cb.options.showBubbleInfos">
            <b>{{cb.message.userName}}, </b>
            <span am-time-ago="cb.message.date"></span>
        </div>
        <div class="chat-bubble left">
            <div class="message">{{cb.message.text}}</div>
        </div>
    </div>
</div>
<div ng-if="cb.localUser.userId === cb.message.userId">
    <img class="profile-avatar right"
        ng-src="{{cb.localUser.avatar}}"
        ng-if="cb.options.showUserAvatar"/>
    <div class="chat-bubble-container right"
        ng-class="{'reset-margin-right': !cb.options.showUserAvatar}">
        <div class="message-detail" ng-if="cb.options.showBubbleInfos">
            <b>{{cb.localUser.userName}}, </b>
            <span am-time-ago="cb.message.date"></span>
        </div>
        <div class="chat-bubble right">
            <div class="message">{{cb.message.text}}</div>
        </div>
    </div>
</div>
