<div ng-if="cb.localUser.userId !== cb.message.userId">
    <img class="profile-avatar left" ng-src="{{cb.toUser.avatar}}"/>
    <div class="chat-bubble-container left">
        <div class="message-detail">
            <b>{{cb.toUser.username}}, </b>
            <span am-time-ago="cb.message.date"></span>
        </div>
        <div class="chat-bubble left">
            <div class="message">{{cb.message.text}}</div>
        </div>
    </div>
</div>
<div ng-if="cb.localUser.userId === cb.message.userId">
    <img class="profile-avatar right" ng-src="{{cb.localUser.avatar}}"/>
    <div class="chat-bubble-container right">
        <div class="message-detail">
            <b>{{cb.localUser.username}}, </b>
            <span am-time-ago="cb.message.date"></span>
        </div>
        <div class="chat-bubble right">
            <div class="message">{{cb.message.text}}</div>
        </div>
    </div>
</div>
