.message-detail {
    white-space: nowrap;
    padding: 4px 0;
    font-size: $simple-chat-font-size-small;
}

.chat-bubble-main-container {
    display: inline-block;
    width: 100%;
}

/////////////////
// Chat bubble //
/////////////////

.chat-bubble-container {
    display: inline-block;
    position: relative;
    margin: 10px;
    max-width: 80%;

    &.left {
        float: left;
        margin-left: 55px;
    }

    &.right {
        float: right;
        margin-right: 55px;

        .message-detail {
            text-align: right;
        }
    }

    &.reset-margin-right {
        margin-right: 10px;
    }

    &.reset-margin-left {
        margin-left: 10px;
    }
}

.chat-bubble {
    border-radius: 5px;
    padding: 10px 18px;

    &::before {
        content: '\00a0';
        display: block;
        height: 16px;
        width: 9px;
        position: absolute;
        bottom: -4.5px;
    }

    &.left {
        background-color: $simple-chat-to-user-message-background-color;

        &::before {
            background-color: $simple-chat-to-user-message-background-color;
            left: 4px;
            transform: rotate(70deg) skew(5deg);
        }
    }

    &.right {
        background-color: $simple-chat-local-user-message-background-color;
        color: $simple-chat-local-user-message-color;

        &::before {
            background-color: $simple-chat-local-user-message-background-color;
            right: 4px;
            transform: rotate(118deg) skew(-5deg);
        }
    }

    .message {
        word-wrap: break-word;
    }
}

////////////////
// Pic avatar //
////////////////

img {
    &.profile-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }
}
