<div class="simple-chat-container"
    ng-class="{'full-height': !sc.options.showComposer}">
    <div ng-repeat="message in sc.messages track by message.id" class="message-wrapper">
        <chat-bubble
            message="message"
            local-user="sc.localUser"
            to-user="sc.toUser"
            class="chat-bubble-main-container"
        ></chat-bubble>
    </div>
</div>
<message-composer
    local-user="sc.localUser"
    send-function="sc.sendFunction"
    send-button-text="sc.sendButtonText"
    composer-placeholder-text="sc.composerPlaceholderText"
    ng-if="sc.options.showComposer"
></message-composer>
